.subscriptionPage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    flex-direction: row;
   
  }


.continueButtonContainer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 30px;
    color: whitesmoke;
  }
.continueButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
  }

.continueButton:hover {
    background-color: #0056b3;
  }