

.table-container {
    margin: 155px 20px 0px 20px;
    max-width: 95%; 
    overflow-x: auto;
    position: absolute; 
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto; 
}

.table-header-row {
    background-color: #f5f5f5;
    position: sticky;
    top: 0;
    z-index: 2;
}

.sort-icon {
    
}

.search-bar {
    position: absolute;
    width: 250px;
    height: 25px;
    top: 110px; 
    right: 55px; 
}

.table-header-cell {
    padding: 10px;
    background-color: #c6c336;
    font-weight: bold !important;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
    border: none;
    width: 10px;
}

.table-body-cell {
    padding: 10px;
}

.table-body-row:hover {
    background-color: #edecd2;
}

@media (max-width: 768px) {
    .table-header-cell,
    .table-body-cell {
        font-size: 12px;
        padding: 5px; 
    }
}
