@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

body {
  background-image: url('E:\Shisan-tech\Login\shisan-task-login\public\black-paper-background.webp');
  /* background-image: url('../public/5153829.jpg'); */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  height: 90vh;
  margin: -20px 0 50px;
}
